# Django Conf
DEBUG=True
SECRET_KEY=change-me

# DB Conf
DB_NAME=bookbookgo
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost

# App Info
BUSINESS_NAME=BookBookGo
SITE_URL=http://127.0.0.1:8000

# Email Conf
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password

DEFAULT_FROM_EMAIL=Accounting Booking <noreply@example.com>
ACCOUNTANT_EMAIL=accountant@example.com
SUPPORT_EMAIL=support@example.com
EMAIL_TIMEOUT=10