{% extends 'base.html' %}

<!-- Content -->
{% block content %}
<div class="container py-5">
  <h1 class="mb-4">Book an Accounting Consultation</h1>

  <form method="post" class="row g-3">
    {% csrf_token %}

    <!-- Form Errors -->
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <!-- Form -->
    {% for field in form %}
    <div class="col-md-6">
      <label class="form-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>

      {{ field }}

      <!-- Form Field Errors -->
      {% if field.errors %}
      <div class="text-danger small">{{ field.errors }}</div>
      {% endif %}
    </div>
    {% endfor %}

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Request Appointment</button>
    </div>
  </form>
</div>
{% endblock %}
