{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookBookGo</title>

    <!-- Bootstrap-->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
      <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}"> BookBookGo </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNavbar"
          aria-controls="mainNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'appointment_create' %}">
                Book Appointment
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
